@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

$red: #fe1662;
$blue: #2b2e48;
$gray: #404040;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: $blue;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
}

.game-board {
  position: relative;
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  margin: 40px auto;
  border-radius: 6px;
  width: 400px;
  height: 400px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.board-row {
  display: block;
}

.square {
  position: relative;
  display: inline-block;
  background: $red;
  border: 2px solid lighten($red, 10%);
  // @include prefix(box-shadow, 3px 3px 0 lighten(black, 10%));
  @include prefix(border-radius, 5px);
  @include prefix(box-shadow, 3px 3px 0 lighten($red, 10%));
  @include prefix(transition, color .5s ease);
  margin: 5px;
  height: 110px;
  width: 110px;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    box-shadow: none;
    color: white;
    background: lighten($red, 10%);
  }
}

.game-info {
  margin-left: 20px;
}
