@import url('https://fonts.googleapis.com/css?family=Pacifico|Rubik:300,400,700');
@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

//fons
$pacifico: Pacifico;
$rubik: Rubik;

//colors
$red: #fe1662;
$blue: #2b2e48;
$gray: #404040;

body {
  font-family: $rubik;
  background-color: $blue;
  margin: 20px;
}

.title {
  font-family: $pacifico;
  color: $red;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.2rem;
}

//lista de jugadas

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  position: relative;
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  margin: 40px auto;
  border-radius: 6px;
  width: 400px;
  height: 400px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.board-row {
  display: flex;
}

.square {
  position: relative;
  display: inline-block;
  background: $red;
  border: 2px solid lighten($red, 10%);
  @include prefix(border-radius, 5px);
  @include prefix(box-shadow, 3px 3px 0 lighten($red, 10%));
  @include prefix(transition, color .5s ease);
  margin: 5px;
  height: 110px;
  width: 110px;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  &:hover {
    box-shadow: none;
    background: lighten($red, 10%);
  }
  p {
    font-size: 8em;
    font-weight: bold;
    position: relative;
    margin: auto;
  }

  &:focus {
    outline: 0;
  }
}

.game-info {
  position: relative;
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  margin: 40px 20px;
  border-radius: 6px;
  // width: 80%;
  height: auto;
  padding: 5px;
}
.status {
  color: white;
  text-align: center;
  font-size: 2em;
}

.moves {
  color: white;
  font-size: 1.5em;
  li > a {
    margin-left: 10px;
    text-decoration: none;
    color: $red;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  body{
    margin: 0;
    padding: 0;
  }
  .title{
    font-size: 3rem;
  }

  .game-board {
    position: relative;
    margin: 20px 10px;
    height: auto;
    padding: 5px;
    display: inherit;
    width: auto;
  }

  .game-info {
  position: relative;
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  margin: 20px 10px;
  border-radius: 6px;
  height: auto;
  padding: 5px;
}
.status {
  color: white;
  text-align: center;
  font-size: 2em;
}

.moves {
  color: white;
  font-size: 1.5em;
  li > a {
    margin-left: 10px;
    text-decoration: none;
    color: $red;
    cursor: pointer;
  }
}
}
