@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

$red: #fe1662;
$blue: #2b2e48;
$gray: #404040;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: $blue;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  
}

.game-board {
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  margin: 20px auto;
  border-radius: 6px;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.board-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.square {
  background: $red;
  // border: 2px solid lighten($red, 10%);
  // @include prefix(box-shadow, 3px 3px 0 lighten(black, 10%));
  // @include prefix(border-radius, 5px);
  margin: 5px;
  width: 90px;
  height: 90px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
}

.game-info {
  margin-left: 20px;
}
