@import url("https://fonts.googleapis.com/css?family=Pacifico|Rubik:300,400,700");
body {
  font-family: Rubik;
  background-color: #2b2e48;
  margin: 20px; }

.title {
  font-family: Pacifico;
  color: #fe1662;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.2rem; }

.status {
  margin-bottom: 10px; }

.kbd-navigation .square:focus {
  background: #ddd; }

.game-board {
  position: relative;
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #181a28;
  margin: 40px auto;
  border-radius: 6px;
  width: 400px;
  height: 400px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.board-row {
  display: flex; }

.square {
  position: relative;
  display: inline-block;
  background: #fe1662;
  border: 2px solid #fe4984;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0 #fe4984;
  -moz-box-shadow: 3px 3px 0 #fe4984;
  -ms-box-shadow: 3px 3px 0 #fe4984;
  box-shadow: 3px 3px 0 #fe4984;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
  margin: 5px;
  height: 110px;
  width: 110px;
  cursor: pointer;
  box-sizing: border-box;
  color: white; }
  .square:hover {
    box-shadow: none;
    background: #fe4984; }
  .square p {
    font-size: 8em;
    font-weight: bold;
    position: relative;
    margin: auto; }
  .square:focus {
    outline: 0; }

.game-info {
  position: relative;
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #181a28;
  margin: 40px 20px;
  border-radius: 6px;
  height: auto;
  padding: 5px; }

.status {
  color: white;
  text-align: center;
  font-size: 2em; }

.moves {
  color: white;
  font-size: 1.5em; }
  .moves li > a {
    margin-left: 10px;
    text-decoration: none;
    color: #fe1662;
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0; }

  .title {
    font-size: 3rem; }

  .game-board {
    position: relative;
    margin: 20px 10px;
    height: auto;
    padding: 5px;
    display: inherit;
    width: auto; }

  .board-row {
    display: -ms-flexbox;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; }

  .square {
    width: 20vw;
    height: 20vw; }

  .game-info {
    position: relative;
    -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #181a28;
    margin: 20px 10px;
    border-radius: 6px;
    height: auto;
    padding: 5px; }

  .status {
    color: white;
    text-align: center;
    font-size: 2em; }

  .moves {
    color: white;
    font-size: 1.5em; }
    .moves li > a {
      margin-left: 10px;
      text-decoration: none;
      color: #fe1662;
      cursor: pointer; } }

/*# sourceMappingURL=index.css.map */
